---
import pfp from "../images/logo_circle.png";
---

<div
	id="about"
	class="w-full h-fit min-h-screen flex justify-center items-center px-10 py-8"
>
	<div
		id="about-layout"
		class="flex justify-center items-center w-full flex-col lg:flex-row md:flex-col sm:flex-col"
	>
		<div
			id="pfp-div"
			class="flex items-center justify-center w-fit md:mr-20 mr-0"
		>
			<img src={pfp} alt="ryan" class="w-72 rounded-lg mb-3 lg:mb-0" />
		</div>
		<div class="text-lg max-w-2xl">
			Hi! My name is Ryan, I am a college student studying computer
			science!
			<br /><br />
			I speak fluent English and Mandarin Chinese.
			<br /><br />
			On the side, I like to stream on <a
				class="underline text-purple-400"
				target="_blank"
				href="https://twitch.tv/RyanPython">Twitch</a
			> and upload videos on <a
				class="underline text-red-500"
				target="_blank"
				href="https://youtube.com/@RyanPython">YouTube</a
			>. On Twitch, I stream study sessions and occasionally stream
			gaming content. On YouTube, I make videos on projects I have
			worked on, along with some content related to gaming.
			<br /><br />
			On top of that, I create open source overlays for streamers on Twitch,
			particularly for coworking and study streamers.
		</div>
	</div>
</div>

<style lang="scss">
	#about {
		background: #222222;
	}
</style>
