---
---

<div
	id="navbar"
	class="fixed z-10 flex flex-row justify-end w-full float-right"
>
	<div id="navbar-div" class="pt-5 pb-1">
		<a class="px-5" href="#home">home</a>
		<a class="px-5" href="#about">about</a>
		<a class="px-5" href="#skills">skills</a>
		<a class="px-5" href="#projects">projects</a>
		<a class="px-5" href="#contact">contact</a>
	</div>
</div>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");
	#navbar-div {
		font-family: "Raleway", sans-serif;
		font-weight: 400;
		background: rgba(18, 18, 18, 0.3);
	}
</style>
