<div
	id="skills"
	class="w-full h-fit min-h-screen flex items-center justify-center px-10 py-8 lg:flex-row flex-col"
>
	<div class="lg:mr-32 mr-0 max-w-2xl">
		<h1 class="dev-exp font-bold text-3xl mb-2">Developer skills</h1>
		<p class="text-lg">
			I started programming with Python since I was 14 years old. I
			learnt it from a coding centre in my area. Eventually, I decided
			to explore programming on my own.
		</p>
		<h2 class="web-dev animate-gradient font-bold text-2xl mb-2 mt-8">
			Web Development
		</h2>
		<p class="text-lg">
			I started learning web development as a hobby. After being
			confident with my skills in HTML, vanilla CSS and vanilla
			Javascript; I started learning frontend frameworks such as React,
			Svelte and Astro.
		</p>
		<h2
			class="data-science animate-gradient font-bold text-2xl mb-2 mt-8"
		>
			Data Science
		</h2>
		<p class="text-lg">
			In college, I learnt data science and worked with data using SAS
			and R. I studied and carried out processes such as data cleaning,
			data transformation and built machine learning models for
			Predictive Analysis and Cluster Analysis.

			<br /><br />
			I also extracted medical data from a Kaggle notebook to predict the
			diagnosis of diabetes in patients. I cleaned the dataset by removing
			outliers, and built models using Logistic Regression and Random Forest
			(just to name a few). The results of the models have an average accuracy
			of 75%!
		</p>
	</div>

	<div class="max-w-2xl lg:max-w-lg mt-10 lg:mt-0">
		<h2 class="font-bold text-xl mb-2">Web Development Technologies:</h2>
		<div class="flex flex-wrap flex-row">
			<div class="item hover:bg-yellow-400 hover:text-black">
				Javascript
			</div>
			<div class="item hover:bg-blue-500">Typescript</div>
			<div class="item hover:bg-green-500">Node JS</div>
			<div class="item hover:bg-orange-500">Sveltekit</div>
			<div class="item hover:bg-blue-400">Tailwind</div>
			<div class="item hover:bg-pink-400">SASS</div>
			<div class="item hover:bg-orange-500">HTML</div>
			<div class="item hover:bg-blue-500">CSS</div>
			<div class="item hover:bg-gray-800">Astro</div>
			<div class="item hover:bg-blue-400">React</div>
			<div class="item hover:bg-purple-600">Vite</div>
		</div>
		<h2 class="font-bold text-xl mb-2 mt-8">Data Science Technologies</h2>
		<div class="flex flex-wrap flex-row">
			<div class="item linear-gradient python">Python</div>
			<div class="item hover:bg-blue-400">R</div>
			<div class="item hover:bg-blue-500">SAS</div>
			<div class="item hover:bg-purple-600">Machine Learning</div>
			<div class="item linear-gradient opencv">OpenCV</div>
			<div class="item hover:bg-blue-700">BeautifulSoup4</div>
			<div class="item hover:bg-green-600">Selenium</div>
			<div class="item hover:bg-blue-500">Pandas</div>
		</div>
	</div>
</div>

<style lang="scss">
	.item {
		@apply mr-2 mb-2 py-1 px-2 rounded-md transition-all duration-500 ease-in-out cursor-default;
		background: #555;
	}

	@keyframes appear {
		0% {
			opacity: 0.1;
		}
		100% {
			opacity: 1;
		}
	}

	.linear-gradient:hover {
		&.python {
			background: linear-gradient(
				90deg,
				#4b8bbe 0%,
				#306998 50%,
				#ffd43b 51%,
				#f0c808 100%
			);
		}

		&.opencv {
			background: linear-gradient(
				90deg,
				#ff0000 0%,
				#ff0000 32%,
				#00ff00 33%,
				#00ff00 65%,
				#0000ff 66%,
				#0000ff 100%
			);
		}

		// appear with transition once
		animation: appear 500ms ease-in-out 1;
	}

	.data-science {
		background: linear-gradient(90deg, #63b9ff 10%, #f0c808 30%);

		background-size: 110%;

		background-clip: text;
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}

	.web-dev {
		background: linear-gradient(
			90deg,
			#09ff00 0%,
			#00e7ff 20%,
			#a29aff 60%
		);

		background-size: 120%;

		background-clip: text;
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}

	.dev-exp {
		background: linear-gradient(90deg, #ff7e7e 0%, #ffcdcd 50%);

		background-size: 150%;

		background-clip: text;
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}
</style>
