---
import github from "./socials/socials_images/github.svg";
import twitch from "./socials/socials_images/twitch.svg";
import youtube from "./socials/socials_images/youtube.svg";
import codepen from "./socials/socials_images/codepen.svg";
---

<div
	id="socials"
	class="fixed h-1/2 bottom-3 left-0 hidden md:flex items-end w-10 pl-3 z-20"
>
	<div class="z-10 flex-col">
		<a href="https://github.com/liyunze-coding" target="_blank">
			<div
				class="bg-gray-300 rounded-full w-7 h-7 flex justify-center items-center mb-3 hover:bg-gray-200"
			>
				<img src={github} alt="github" class="w-5 h-5 aspect-square" />
			</div>
		</a>
		<a href="https://codepen.io/liyunze-coding" target="_blank">
			<div
				class="bg-gray-300 rounded-full w-7 h-7 flex justify-center items-center mb-3 hover:bg-gray-200 transition-colors duration-150"
			>
				<img
					src={codepen}
					alt="codepen"
					class="w-5 h-5 aspect-square"
				/>
			</div>
		</a>
		<a href="https://youtube.com/@RythonDev" target="_blank">
			<div
				class="bg-gray-300 rounded-full w-7 h-7 flex justify-center items-center mb-3 hover:bg-red-400 transition-colors duration-150"
			>
				<img
					src={youtube}
					alt="youtube"
					class="w-5 h-5 aspect-square"
				/>
			</div>
		</a>
		<a href="https://twitch.tv/RythonDev" target="_blank">
			<div
				class="bg-gray-300 rounded-full w-7 h-7 flex justify-center items-center mb-3 hover:bg-purple-400 transition-colors duration-150"
			>
				<img src={twitch} alt="twitch" class="w-4 h-4 aspect-square" />
			</div>
		</a>
	</div>
</div>
